{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %} Symfony - 4 ! {% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Ma plateforme d'annonces</h1>
      <p>
        Ce projet est propulsé par Symfony,
        et construit grâce au MOOC OpenClassrooms et SensioLabs.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="http://www.nguith.com/">
          aller voir mo site »
        </a>
      </p>
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Les annonces</h3>
          <ul class="nav nav-pills nav-stacked">
               {% if is_granted('ROLE_ADMIN')%}
                <li><a href="{{path('admin_index')}}">Page des admins </a></li><br>
              {% endif %}
                {# <li><a href="{{path('pathFuncIcidonnelePath')}}" >Page de test</a></li>  #}
                <li><a href="{{path('advert_index')}}">Liste des annonces</a></li>
              <!-- <li><a href="{#{path('index')}#}" >Liste de posts (Tuto youtube)</a></li> -->
              
              {% if app.user == null %}
                <li><a href="{{path('login')}}">Page de Connexion </a></li><br>
              {% else %}
                <li><a href="{{path('advert_contact')}}" >Nous contacter</a></i>
                {% if is_granted('ROLE_AUTEUR') %}
                  <li><a href="{{path('advert_add')}}">Ajouter une annonce</a></li><br>
                {% endif %}
                <a class="btn btn-danger" href="{{path('logout')}}" role="button">Deconnexion
                <i class="glyphicon glyphicon-off" ></i></a>
              {% endif %}
              
          </ul>
          </ul>

          <h4>Dernières annonces</h4>
            <!-- injection de contrôleur 
            => rajoute de l'action menuAction et ceci
            => retourne une réponse avec le template menu (donc le tableau passé en paramétre dans
                menuAction est disponible).
            =>ce qui permet de pouvoir passer l'url href="{"{ path('advert_view', {'id': advert.id}) }#}"
              dans le template menu-->
              {{ render(controller("App\\Controller\\AdvertController::menuAction", {'limit': 3})) }}
      </div>
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>