{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %} Symfony - 4 ! {% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      {# <h1>Ma plateforme d'annonces</h1> #}
      <h1>{% trans %} My advertisements platform {% endtrans %}</h1>
      {# <p>Ce projet est propulsé par Symfony,et construit grâce au MOOC OpenClassrooms et SensioLabs.</p> #}
      <p>{% trans %} This project is powered by Symfony, and built using MOOC OpenClassrooms and SensioLabs {% endtrans %}</p>
      <p>
        <a class="btn btn-primary btn-lg" href="http://www.nguith.com/">
          {# aller voir mon site nguith.com » #}
          {% trans %} go visit my websie nguith.com >>> {% endtrans %}
        </a>
      </p>
      
        {% for locale in locales if locale != app.request.locale %}
          <div class = "row pull-right">
            <div class="col-sm-2">
              <p>
                {# <a href="#"><img src="{{asset('images/8.png')}}"> anglais</a> #}
                <a href="{{path('change_locale', {'locale': locale})}}" alt="{{locale}}"> {{locale}} </a>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    {# {% include "nav.html.twig" %} #}
    <div class="row">
      <div id="menu" class="col-md-2 card">
        {# <h5>Les des annonces</h5> #}
        <h5 class="text-sm-left">{% trans %} list of advertisements {% endtrans %}</h5>
          <ul class="nav nav-pills nav-stacked">
               {% if is_granted('ROLE_ADMIN')%}
                  <a class="text-sm-left btn btn-outline-success col-sm-12" href="{{path('admin_list_users')}}">
                    <small>{% trans %} admin List of users {% endtrans %}</small>
                    <i class="glyphicon glyphicon-list"></i>
                  </a>
                  <a class="text-sm-left btn btn-outline-success col-sm-12" href="{{path('fos_user_registration_register')}}">
                    <small>{% trans %} admin add user {% endtrans %}</small>
                    <i class="glyphicon glyphicon-plus"></i> 
                  </a>
                  
              {% endif %}
                {# <a class="text-sm-left btn btn-outline-secondary col-sm-12" href="{{path('plateform_translator', {'name': 'name'})}}"> #}
                  {# <small>traduire en anglais</small> #}
                  {# <i class="glyphicon glyphicon-list"></i> #}
                </a>
                <a class="text-sm-left btn btn-outline-secondary col-sm-12" href="{{path('advert_index')}}">
                  {# <small>Liste des annonces</small> #}
                  <small>{% trans %} List of advertisement {% endtrans %}</small>
                  <i class="glyphicon glyphicon-list"></i>
                </a>
                <a class="text-sm-left btn btn-outline-secondary col-sm-12" href="{{path('fos_user_registration_register')}}">
                  {# <small>Créer mon compte</small> #}
                  <small>{% trans %}Create an account {% endtrans %}</small>
                </a>
              <!-- <li><a href="{#{path('index')}#}" >Liste de posts (Tuto youtube)</a></li> -->
              
              {% if app.user == null %}
                <a class="text-sm-left btn btn-outline-secondary col-sm-12" href="{{path('fos_user_security_login')}}">
                  {# <small>Page de Connexion</small> #}
                  <small>{% trans %} Login Page {% endtrans %}</small>
                  <i class="glyphicon glyphicon-log-in"></i> 
                </a>
              {% else %}
                  <a class="text-sm-left btn btn-outline-secondary col-sm-12" href="{{path('advert_contact')}}">
                    {# <small>Nous contacter</small> #}
                    <small>{% trans %} Contact us {% endtrans %}</small>
                    <i class="glyphicon glyphicon-pencil"></i>
                  </a>
                {% if is_granted('ROLE_AUTEUR') %}
                  <a class="text-sm-left btn btn-outline-secondary col-sm-12" href="{{path('advert_add')}}"> 
                    {# <small> Ajouter une annonce</small> #}
                    <small>{% trans %} Add an advertisement{% endtrans %}</small>
                    <i class="glyphicon glyphicon-plus"></i>
                 </a>
                  <a class="text-sm-left btn btn-outline-secondary col-sm-12" href="{{path('fos_user_profile_edit')}}">
                    {# <small>Changer de email</small> #}
                    <small>{% trans %} Change your email{% endtrans %}</small>
                  </a>
                  <a class="text-sm-left btn btn-outline-secondary col-sm-12" href="{{path('fos_user_change_password')}}">
                    {# <small>Changer mot de passe</small> #}
                    <small>{% trans %} Change password {% endtrans %}</small>
                    <i class="glyphicon glyphicon-lock"></i>
                  </a>
                {% endif %}
                <a class="text-sm-left btn btn-outline-danger col-sm-12" href="{{path('fos_user_security_logout')}}">
                  {# <small>Deconnexion</small> #}
                  <small>{% trans %} Logout Page{% endtrans %}</small>
                  <i class="glyphicon glyphicon-log-out"></i>
                </a>
              {% endif %}
              
          </ul>
          </ul>

          {# <h5>Dernières annonces</h5> #}
          <h5>{% trans %} 3 Latest advertisements {% endtrans %}</h5>
            <!-- injection de contrôleur 
            => rajoute de l'action menuAction et ceci
            => retourne une réponse avec le template menu (donc le tableau passé en paramétre dans
                menuAction est disponible).
            =>ce qui permet de pouvoir passer l'url href="{"{ path('advert_view', {'id': advert.id}) }#}"
              dans le template menu-->
            <h6> {{ render(controller("App\\Controller\\AdvertController::menuAction", {'limit': 3})) }}</h6>
      </div>
      <div id="content" class="col-md-10 card">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>
    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>