  <div class="well">
       {#{form(form)}#} 
        {# débuter le formulaire#}
       {{form_start(form,{'attr': {'class': 'form-horizontal'}})}} 

       {# les erreurs générales du formulaire #}
       {{form_errors(form)}}

       {#Génération du label + error + widget pour un champ#}
       {% if form.date_crea is defined %}
           {{form_row(form.date_crea)}}
       {% endif %}
       
       {#Génération manuelle et éclatée #}
       <div class="form-group">
           {#Génération du label#}
           {{form_label(form.title, "Titre de l'annonce",{'label_attr': {'class':'col-sm-3 control-label'}})}}
           {#affichage des erreurs pour ce champs#}
           {{form_errors(form.title)}}
           {#Génération de l'input#}
           <div class='col-sm-9'>
               {{form_widget(form.title,{'attr':{'class': 'form-control'}})}}
           </div>
       </div>
       <div class='form-group'>
           {{form_label(form.content, "Contenu de l'annonce",{'label_attr':{'class':'col-sm-3 control-label'}})}}
           {{form_errors(form.content)}}
           <div class='col-sm-9'>
                {{form_widget(form.content,{'attr': {'class': 'form-control'}})}}
            </div>
       </div>
       <div class='form-group'>
           {{form_label(form.author, "Auteur de l'annonce",{'label_attr':{'class':'col-sm-3 control-label'}})}}
           {{form_errors(form.author)}}
           <div class='col-sm-9'>
                {{form_widget(form.author,{'attr': {'class': 'form-control'}})}}
            </div>
       </div>
       {% if form.published is defined %}
          {{form_row(form.published)}} 
       {% endif %}
       {% if form.image.url is defined %}
           <div class='form-group'>
            {{form_label(form.image.url, "Url",{'label_attr':{'class':'col-sm-3 control-label'}})}}
            {{form_errors(form.image.url)}}
            <div class='col-sm-9'>
                {{form_widget(form.image.url,{'attr': {'class': 'form-control'}})}}
            </div>
        </div>
       {% endif %}
        {% if  form.image.alt is defined %}
            <div class='form-group'>
                {{form_label(form.image.alt, "Alt",{'label_attr':{'class':'col-sm-3 control-label'}})}}
                {{form_errors(form.image.alt)}}
                <div class='col-sm-9'>
                    {{form_widget(form.image.alt,{'attr': {'class': 'form-control'}})}}
                </div>
            </div>
        {% endif %}
        {% if form.image.file is defined %}
            <div class='form-group'>
                {{form_label(form.image.file, "Ajouter une Image",{'label_attr':{'class':'col-sm-3 control-label'}})}}
                {{form_errors(form.image.file)}}
                <div class='col-sm-9'>
                    {{form_widget(form.image.file,{'attr': {'class': 'form-control'}})}}
                </div>
            </div>
        {% endif %}
        
        <!-- start_category -->
            {{ form_row(form.categories) }}
            <a href="#" id="add_category" class="btn btn-default col-sm-offset-7" disabled="disabled">
                <i class="glyphicon glyphicon glyphicon-plus"></i>
                Ajouter une catégorie</a>  
                
                
            {# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
            mais si vous l'avez en local, changez simplement l'adresse. #}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            {# Voici le script en question : #}
            <script type="text/javascript">
            $(document).ready(function() {
                // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
                var $container = $('div#advert_categories');
                // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
                var index = $container.find(':input').length;
                // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
                $('#add_category').click(function(e) {
                addCategory($container);
                // $("legend").addClass("col-sm-3")
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
                });
                // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
                if (index == 0) 
                {
                    addCategory($container);
                    
                } 
                else 
                {// S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function()
                {
                    addDeleteLink($(this));
                });
                }// La fonction qui ajoute un formulaire CategoryType
                function addCategory($container) {
                    // Dans le contenu de l'attribut « data-prototype », on remplace :
                    // - le texte "__name__label__" qu'il contient par le label du champ
                    // - le texte "__name__" qu'il contient par le numéro du champ
                    var template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, 'Catégorie n°' + (index+1))
                        .replace(/__name__/g,        index)
                        
                    ;
                    // $("legend").addClass("col-sm-1");
                    var $prototype = $(template);// On crée un objet jquery qui contient ce template
                    addDeleteLink($prototype);// On ajoute au prototype un lien pour pouvoir supprimer la catégorie 
                    $container.append($prototype); // On ajoute le prototype modifié à la fin de la balise <div>
                    index++;// Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                }// La fonction qui ajoute un lien de suppression d'une catégorie
                function addDeleteLink($prototype) 
                {
                    // Création du lien
                    var $deleteLink = $('<a href="#" class="btn btn-danger col-sm-2 col-sm-offset-1">Supprimer</a>');
                    // Ajout du lien
                    $prototype.append($deleteLink);
                    // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                    $deleteLink.click(function(e) 
                    {
                        $prototype.remove();
                        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                        return false;
                    });
                }
            });
            </script>
        <!-- end_category -->
       {#pour le bouton pas de label ni d'erreurs, on affiche juste le widget#}
       {{form_widget(form.save)}}
       {#form_rest affiche tous les champs manquants duformulaire défini#}
       {{form_rest(form)}}
       {{form_end(form)}}
       
    </div>