{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - index Advert{% endblock %}

{% block body %}
<!DOCTYPE html>
<body>
  <p>
    <h2>Liste des annonces</h2>

    <ul>
      {% for advert in listAdverts %}
        <li>
          <a href="{{ path('advert_view', {'id': advert.id}) }}"> {{ advert.title }}</a>
          par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}
        </li>
      {% else %}
        <li>Pas (encore !) d'annonces</li>
      {% endfor %}
    </ul>
  </p>
</body>
{% endblock %}
