{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - index Advert{% endblock %}

{% block body %}
<!DOCTYPE html>
<body>
  <h1>List Advertisements</h1>
  <h2> {{ name }} </h2>
  <p>
    Le Hello World est un grand classique en programmation.
    Il signifie énormément, car cela veut dire que vous avez
    réussi à exécuter le programme pour accomplir une tâche simple :
    afficher ce hello world !
    <br><a href="{{path('advert_view', {'id':5} )}}" class="espace">view advertisement</a>&nbsp;&nbsp;&nbsp;
    <a href="{{path('advert_edit',{'id':5} )}}" class="">edit advertisement</a>&nbsp;&nbsp;&nbsp;
    <a href="{{path('advert_delete', {'id':5} )}}" class="">delete advertisement</a>&nbsp;&nbsp;&nbsp;
  </p>
</body>
{% endblock %}
