{% extends "base.html.twig" %}
{% block title %} {{ parent()}} - annonce {{ advert.id }}{% endblock %}

{% block body %}
    <!-- //notice :Annonce bien enregistrée -->
    {% for message in app.flashes('notice') %}
    <div class="modal-body">
        <div class="alert alert-primary" role="alert">{{ message }} <br></div>
    </div>
    {% endfor %}
    <div class="well">
        {# On vérifie qu'une image soit bien associée à l'annonce #}
        
          {% if advert.image is not null %}
          <img src="{{ advert.image.url }}" style="width: 100% ;height:150px;" alt="{{ advert.image.alt }}">
          {% endif %}
        
        <h2>{{ advert.title }}</h2>
        <i>Par {{ advert.author }}, le {{ advert.datecrea | date('d/m/Y H:i:s') }}</i>
    </div>
    
    <div class="well">
      {{ advert.content | raw}}
      {# affichage des catégories associées à l'annonce#}
        {% if not advert.categories == null %}
        <p>
          Cette annonce est parue dans les catégories suivantes : <br>
          {% for category in advert.categories %}
            <a class="text-success">{{ category.name }}{% if not loop.last %}, {% endif %}</a>
          {% endfor %}
        </p>
        {% endif %}
    </div>
    {% for listApplication in listApplications %}
      <div class="row col">
        <p class="font-weight-bold">{{listApplication.author}} le {{listApplication.datecrea | date('d/m/Y H:i:s')}}</p>
      </div>
      <p class="col">{{ listApplication.content}}</p>
    {% endfor %}

    {# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

    {% if listAdvertSkills|length > 0 %}
    <div>
      Cette annonce requiert les compétences suivantes : <br>
      <ul>
        {% for advertSkill in listAdvertSkills %}
          <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  <p>
    <a href="{{ path('advert_index') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('advert_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('advert_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>

{% endblock %}